body,
.navbar {
  background-color: rgb(20, 20, 20);
}

.btn-group {
  max-height: 30px;
}

.two-icons {
  max-height: 25px;
  display: flex;
  position: absolute;
  left: 94%;
  /* border: 1px solid ghostwhite; */
}

.group-icons {
  border: 1px solid rgb(255, 255, 255);
  padding: 0 10px 5px 10px;
}

.div-for-tvshow {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.dropdown-menu {
  left: auto !important;
  right: 0 !important;
}

.headers {
  color: rgba(228, 228, 228, 0.877);
}

.episode-mark {
  color: rgba(255, 255, 255, 0.856);
  background-color: rgb(192, 20, 20);
  font-weight: 600;
  font-size: smaller;
  width: fit-content;
  position: absolute;
  bottom: 10%;
  border-radius: 1px;
}
